<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to The New York Public Library!</title>
</head>
<style media="screen">
    html {
        font-family: sans-serif; /* 1 */
        line-height: 1.15; /* 2 */
        -ms-text-size-adjust: 100%; /* 3 */
        -webkit-text-size-adjust: 100%; /* 3 */
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 400;
    }

    .welcome {
        background-color: #BB1D12;
        color: #FFF;
        font-family: Georgia, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
        padding: 1rem 0;
    }

    .welcome h1 {
        color: #FFF;
        font-weight: 100;
        margin-left: 7rem;
    }

    p {
        margin-left: 7rem;
        width: 50%;
    }

    div.footer {
        background-color: #54514a;
        color: #ffffff;
        font-size: .85rem;
        min-height: 4.5rem;
        padding: 2rem 0;
        position: relative;
    }

</style>

<blockquote>
{# @var data \NYPL\HoldRequestResultConsumer\Model\DataModel\HoldEmailData #}
<div class="edd">
    <h1 class="edd">NYPL Electronic Delivery Request Status Update</h1>
</div>

<p>Dear {{ data.patronName }},</p>

    <p>We’ve received your request for electronic document delivery. Soon, you will receive a follow-up email from <a href="mailto:interlibraryloan@nypl.org">interlibraryloan@nypl.org</a> with a link to the scanned document. The email will contain the requested item's barcode, "oc.&#8203;lc" download link, and a password. Once you follow the link and enter the password, your download will begin automatically.</p>
    
    <p>If you any questions, please <a href="https://gethelp.nypl.org/customer/portal/emails/new">email us</a> or call 917-ASK-NYPL (917-275-6975).</p>

    <p>The New York Public Library</p>
</body>
</html>
