<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to The New York Public Library!</title>
</head>
<style media="screen">
    html {
        font-family: sans-serif; /* 1 */
        line-height: 1.15; /* 2 */
        -ms-text-size-adjust: 100%; /* 3 */
        -webkit-text-size-adjust: 100%; /* 3 */
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 400;
    }

    .welcome {
        background-color: #BB1D12;
        color: #FFF;
        font-family: Georgia, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
        padding: 1rem 0;
    }

    .welcome h1 {
        color: #FFF;
        font-weight: 100;
        margin-left: 7rem;
    }

    p {
        margin-left: 7rem;
        width: 50%;
    }

    div.footer {
        background-color: #54514a;
        color: #ffffff;
        font-size: .85rem;
        min-height: 4.5rem;
        padding: 2rem 0;
        position: relative;
    }

</style>

<body>
{# @var data \NYPL\HoldRequestResultConsumer\Model\DataModel\HoldEmailData #}
<div class="welcome">
    <h1 class="hold">NYPL Request Status Update</h1>
</div>

<p>Dear {{ data.patronName }},</p>

<p>We could not process your request for the following item:</p>

<p><strong>Title</strong>: {{ data.titles|first }}<br/>
    <strong>Author</strong>: {{ data.authors|first }}<br/>
    <strong>Barcode</strong>: {{ data.barcode }}
</p>
<p>There could be a number of reasons why we weren’t able to process your request. Please first check your library account to make sure that it is up to date. If you still have questions, <a href="https://gethelp.nypl.org/customer/portal/emails/new">email us</a> or or call 917-ASK-NYPL (917-275-6975).</p>

<p>The New York Public Library</p>
</body>
</html>
